.chartsContainer {
	text-align: center;
	padding: 4rem;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.chartsContainer {
		display: grid;
		grid-template-columns: 1fr;
		padding: 1rem;
	}

	.chartItem:last-child {
		grid-column: span 1;
		justify-self: center;
	}
}
