.chartsContainer {
	text-align: center;
	padding: 4rem;
	gap: 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.chartItem:last-child {
	grid-column: span 2;
	justify-self: center;
}

@media screen and (max-width: 768px) {
	.chartsContainer {
		grid-template-columns: 1fr;
		padding: 1rem;
	}

	.chartItem:last-child {
		grid-column: span 1;
		justify-self: center;
	}
}
